.Header{
  width: 100%;
  height: 200px;
  padding:0px;
  justify-content: space-evenly;  

}
ul {
  list-style-type: none;
}

.header__items{
  display:inline-flex;
  justify-content: space-between;
}
@keyframes animate {
  from {background-color:rgb(6, 1, 41);}
  to {background-color: rgb(143, 241, 157);}
}
.title{
  padding:10px 20px;
  color: rgb(226, 226, 13);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation-name: animate;
  animation-duration: 4s;
}
.header__navLink >ul>li{
    justify-content: center;
    align-items: center;
    display:inline-flex;
    background-color: rgba(217, 207, 26, 0.679);
   padding: 10px 20px;
   margin: 5px 5px;
   color: white;
   border-radius: 5px;
       
}